.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2c3e50; /* Dark background for a modern look */
    padding: 10px 40px; /* Increased vertical padding for more space */
    padding-bottom: 20px;
    color: #ffffff; /* Light text for high contrast */
}

.nav-content .nav-button {
    color: #ffffff; /* Ensuring text is visible against the dark background */
    margin: 0 8px; /* Reduced space between items */
}

.nav-content .nav-button a {
    text-decoration: none;
    color: inherit; /* Inherit white color from parent */
    transition: color 0.3s ease-in-out;
}

.nav-content .nav-button a:hover {
    color: #d1d1d1; /* Slightly darker color on hover for an interactive feel */
}

/* Flex container for left-aligned items */
.nav-left {
    display: flex;
    align-items: center;
}

/* Flex container for right-aligned items */
.nav-right {
    display: flex;
    align-items: center;
}

.nav-divider {
    border-left: 1px solid #ccc; /* Adjust the color and thickness as needed */
    margin: 0 10px; /* Adjust the margin to control the spacing around the line */
    height: 24px; /* Adjust the height to match the button height */
}

/* Additional media query to handle spacing on smaller screens */
@media (max-width: 768px) {
    .nav-content {
        flex-direction: column;
        padding: 20px;
    }

    .nav-left,
    .nav-right {
        justify-content: center;
        margin-bottom: 10px;
    }
}